Source: ros-kinetic-qb-chain
Section: misc
Priority: extra
Maintainer: Alessandro Tondo <alessandro.tondo@qbrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/qb_chain
Standards-Version: 3.9.2

Package: ros-kinetic-qb-chain
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-qb-chain-control, ros-kinetic-qb-chain-description
Description: This package contains the ROS interface to control multiple qbrobotics® devices simultaneously.
