Source: ros-kinetic-qb-chain-control
Section: misc
Priority: extra
Maintainer: Alessandro Tondo <alessandro.tondo@qbrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/qb_chain_control
Standards-Version: 3.9.2

Package: ros-kinetic-qb-chain-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package contains the ROS node to control multiple qbrobotics® devices simultaneously.
